@model WebApplication6.Models.UserInfo
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .a {
        position: absolute;
        left: 250px;
        top: 150px;
    }

    .b {
        position: absolute;
        left: 1000px;
        top: 150px;
    }
    p {
        position: absolute;
        left: 1000px;
        top: 350px;
    }
    .login {
        position: absolute;
        left: 250px;
        top: 250px;
    }
</style>
<script>
    $(function () {

        // 为看不清楚绑定事件
        $("#seee").click(function () {
            $("#validimgs").attr("src", "@Url.Content("~/YZM/GetYZM?")" + Math.random());
        });

        // 为验证码绑定click与mouseover
        $("#validimgs").mouseover(function () {
            $(this).css("cursor", "pointer");
        }).click(function () {
            $("#seee").trigger("click");
        });
    });
    function reloadcodes() {
        var verify = document.getElementById('validimgs');
        verify.setAttribute('src', '@Url.Content("/YZM/GetYZM?")' + Math.random());
    }
</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2 class="a">登录</h2>
<body style="  background-image: url('../../images/beijing.jpg'); width:100%;height:100%; ">
</body>
<div class="login ">
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.Label("电话号码")
        @Html.TextBoxFor(c => c.User_phone)
        @Html.ValidationMessageFor(c => c.User_phone)
        <br />
        @Html.Label("密码")
        @Html.TextBoxFor(c => c.User_pwd)
        @Html.ValidationMessageFor(c => c.User_pwd)
        <br />
        <label>验证码</label>
        <div>
            <div style="float: left;">
                <input style="width: 200px;" id="txtverifcode1" name="txtverifcode1" type="text">
            </div>
            <div style="float: left;">
                <span id="txtverifcod2"> <img id="validimgs" src="@Url.Action("GetYZM", "YZM")" alt="看不清，点击换一张" /><a style="text-decoration:none;cursor:pointer" id="seee" onclick="reloadcodes()">换一张</a></span>

            </div>
        </div>
        <br /> <br />
        <input type="submit" value="提交" />
        <br />
        @Html.ActionLink("还没有注册？", "Regist", "Login")

    }
</div>

<img class=" b" src="~/images/微信二维码.jpg" width=" 200" height=" 200" />
<p style="font :100 px;">扫描二维码，关注公众号哦╮(‵▽′)╭</p>
