@using PagedList.Mvc;
@model PagedList.IPagedList<WebApplication6.Models.FoodShare>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .img1 {
        width: 200px;
        height: 200px;
    }

    ul {
        list-style: none;
    }

    .li {
        float: left;
        margin-left: 150px;
    }
</style>

<h2> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;菜谱</h2>
<div style="width:1100px;height:100%; margin-left :150px">
    <ul class="">
        @foreach (var p in Model)
        {
            <li class=" li ">
                <a href="@Url.Action("Detail","Caipu",new { id=@p.Fs_id})"><img class="img1" src="@p.Fs_img"></a>
                <p> @p.Fs_title</p>
                <p> @p.Fs_lable</p>
            </li>}
    </ul>
</div>

<div>
    <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    @*@Html.PagedListPager(Model, page => Url.Action("Index1", "UseInfo", new { page }))*@
    @*@Html.PagedListPager(Model, page => Url.Action("Index1", "UseInfo", new { page, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.SearchString }))*@
    <li>  @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { LinkToFirstPageFormat = "首页", LinkToNextPageFormat = "下一页", LinkToPreviousPageFormat = "上一页", LinkToLastPageFormat = "末页", DisplayItemSliceAndTotal = false, MaximumPageNumbersToDisplay = 3 })  </li>
</div>

