@model WebApplication6.ViewModel.PostDetailViewModel
@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title></title>
    <style>
        .recipeStep li .recipeStep_word {
            position: relative;
            width: 390px;
            display: inline-block;
            zoom: 1;
            vertical-align: middle;
            font-size: 18px;
        }     
        .after {
            width: 35px;
            height: 35px;
            margin: 35px 150px;
            background-image: url('../../images/收藏选中.png');
            background-size: contain;
        }
        .before {
            width: 35px;
            height: 35px;
            margin: 35px 150px;
            background-image: url('../../images/收藏.png');
            background-size: contain;
        }   
    </style>
</head>
<body>
    <div class="container">
        <div class="col-md-8 col-xs-12">
            @foreach (var p in Model.post_user)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">@p.Post_title</div>
                    <div class="panel-body">@Html.Raw(p.Post_content)</div>
                </div>
                <div>
                    @using (Ajax.BeginForm("Collection", "Post", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "shoucang" }, new { id = "col" }))
                    {
                        <div style="height:100px;background-color:ghostwhite;">
                            <div class="text-muted">
                                <input type="hidden" value="@p.Post_id" class="Vi_id" id="videored" />
                                <label class="text-danger text-center" style="margin:40px;">阅读量：@p.ReadCount</label>
                                <input type="hidden" value="@p.Post_id" id="vid" name="vid" />
                                @if (ViewBag.rel == 1)
                                {
                                    <button id="like" class="after"></button>
                                }
                                @if (ViewBag.rel == 0)
                                {
                                    <button id="like" class="before"></button>
                                }
                                <lable class="text-danger" style="float:right;margin:40px 40px;text-align:center" id="coll">收藏量:@p.Collection</lable>
                            </div>
                        </div>
                    }
                </div>                
                <lable id="shoucang" style="display:none"></lable>
            }
            @using (Ajax.BeginForm("PostComment", "Post", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "Comment" }))
            {
                <div id="content" style="width: 720px; height: auto;">
                    <div class="wrap">
                        <div class="comment">
                            <div class="head-face">
                                @if (Session["user"] == null)
                                {
                                    <img src="~/images/1.jpg" />
                                }
                                @if (Session["user"] != null)
                                {
                                    <img src="@Session["img"]" />
                                }
                            </div>
                            <div class="content">
                                <div class="cont-box">
                                    <textarea class="text" placeholder="请输入..." name="Content1"></textarea>
                                    <input type="hidden" name="Video_id" value="@Session["Post_id"]" />
                                </div>
                                <div class="tools-box">
                                    <div class="operator-box-btn"><span class="face-icon"></span></div>
                                    <div class="submit-btn"><input type="submit" onClick="out()" value="提交评论" id="queding" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <lable id="Comment" style="display:none"></lable>
            @Html.Partial("_PostComment")
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            @foreach (var p in Model.post_user)
            {
                <h4 class="text-info">作者信息</h4>
                <div style="float: left;width: 100%;height: 100px;">
                    <label class="text-muted">作者昵称：@p.User_name</label><br />
                    <a href="@Url.Action("UserDetail","User",new { id=p.User_id})"><img src="@p.User_img" style="width: 30%;height: 100px;" class="img-circle"></a>
                    <table style="width: 65%;height: 100px;float: right;">
                        <tr class="text-muted text-center">
                            <th>关注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</th>
                            <th>收藏&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</th>
                            <th>发布</th>
                        </tr>
                        <tr class="text-primary">
                            <td><a href="">data</a></td>
                            <td><a href="">data</a></td>
                            <td><a href="">data</a></td>
                        </tr>
                    </table>
                </div><br />
            }
            <h4 class="text-primary" style="margin-top:150px">相关帖子</h4>
            @foreach (var p in Model.post)
            {
                <div class="col-md-12">
                    <div style="width: 300px;height: 300px;margin:5px auto">
                        <table>
                            <tr><th><a href="@Url.Action("PostDetail","Post",new {id=p.Post_id,uid=p.User_id })"><img src="../@p.Post_img" style="height: 200px;width:300px;" class="img-rounded"></a></th></tr>
                            <tr>
                                <td class="text-muted">@p.Post_title<br>Up主:@p.UserInfo.User_name<br>类别:@p.Post_lable<br></td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
            
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $("#like").click(function () { //收藏

            var time = setInterval
            clearInterval(time);
            setTimeout(function () {
                var Comment = $("#shoucang").text();
                if (Comment == "success") {
                    alert("收藏成功！");
                    $("#like").removeClass("before")
                    $("#like").addClass("after");
                    //location.reload(true);
                }
                else if (Comment == "login") {
                    alert('请先登录！');
                }
                else if (Comment == "cancel") {

                    alert('取消收藏！');
                    $("#like").removeClass("after");
                    $("#like").addClass("before");
                }
            }, 1000);
        });


        $("#queding").click(function () { //提交评论
            var time = setInterval
            clearInterval(time);
            setTimeout(function () {
                var Comment = $("#Comment").text();
                if (Comment == "aa") {
                    alert("评论成功！");
                    location.reload(true);
                }
                else if (Comment == "nn") {
                    alert('请先登录！');
                }
                else if (Comment == "kong") {
                    alert('评论不能为空！');
                }
            }, 1000);
        });

        $(function () {
            $.ajax({
                type: "Post",
                url: "/Post/AddClick",
                data: { PoId: $(".Po_id").val() },
                success: function (data) {

                    //alert(data);

                }
            });
        });
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>

